/* .* { */
/*     margin: 5rem 5rem 5rem 5rem; */
/*     width: 100%; */
/* } */

body {
    padding-top: 50px;
    background-color: #333e4f !important;
    color: #f5efd3 !important;
    font-size: 16px !important;
}
.big-text {
    font-weight: bolder;
    font-size: 65px;
    color: #bf2112;
    text-shadow: 5px 5px 5px #000;
}
.bgimg {
    width: 50%;
    min-width: 160px;
    max-width: 160px;
}
.sub-text {
    font-size: 35px;
    margin: 10px 0;
    color: #f5efd3 !important;
    text-shadow: 5px 5px 5px #000;
}
.lnminbox {
    padding: 25px;
    padding-bottom: 0;
}
.lnbox {
    padding: 50px;
}
.lncont {
    max-width: 95%;
}
.srvlogo {
    padding-top:20px;
    display: block;
    text-align: center;
}
.card {
    /*border: 2px solid #f5efd3;*/
    border-radius: 3rem!important; 
    box-shadow: 0 1rem 3rem #222 !important;
    box-shadow: inset 0 1rem 3rem #222 !important;
                
    margin: 0px 10px 10px 10px;
    max-width: 200px;
}
.bg-dark{
    background-color: #333e4f !important;
}
.prodcont {
    box-shadow: 0 3rem 3rem rgba(0,0,0,.175)!important;
    padding-bottom: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.contshadow {

    box-shadow: 0 3rem 3rem rgba(0,0,0,.175)!important;
    padding-bottom: 50px;
}
.pgdivider {
    box-shadow: 0 3rem 3rem rgba(0,0,0,.175)!important;
    margin: 0 !important;
    padding; 0 !important;
}
.lnbtndesc {
    font-size: 20;
}
.lnbtn {
    font-size: 150%;
    font-weight: bold;
    background: #bf2112;
    box-shadow: 0 1rem 3rem #222 !important;
    border: 0px;
    border-radius: 12px !important;
}
